* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

img {
    display: block;
}

#wrapper {
    background-color: #DFA596;
}

#header {
    background-color: #DFA596;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
    opacity: 95%;
}

#menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    z-index: 102;
}

#menu-expand {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#menu-expand ul {
    display: none;
}

#menu-expand li {
    list-style: none;
    text-align: center;
}

#menu-expand a {
    font-weight: 700;
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#logo-container {
    z-index: 111;
}

#logo-button {
    width: 100%;
}

#logo-image {
    width: 60%;
}

#burger-container {
    display: flex;
    justify-content: flex-end;
}

#burger {
    padding-right: 34px;
    cursor: pointer;
}

.burger-line {
    background-color: #9F6758;
    height: 5px;
    width: 35px;
    margin: 5px;
    border-radius: 3px;
}


/* --------Main-------- */

main {}

.canvas-intro {
    background-color: white;
    width: 94vw;
    margin: 0 auto;
    margin-top: 8vh;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

#banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#banner-video {
    width: 90%;
    border-style: solid;
    border-color: #DFA596;
    border-width: 10px;
}

#facebook,
#twitter,
#youtube,
#instagram {
    width: 30px;
    padding: 7px;
}

#some-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#top-flower-container {
    width: 40%;
    position: absolute;
    right: 0px;
    top: -90px;
    z-index: 1;
}

#left-flower-container {
    width: 19%;
    position: absolute;
    left: 0px;
    top: 190px;
    z-index: 2;
}

#right-flower-container {
    width: 25%;
    position: absolute;
    right: 0px;
    top: 340px;
    z-index: 3;
}

#flower {
    width: 100%;
}

/* -----------------Standard assets--------------------- */

/* ------Between canvases-------- */
.between-section-text {
    font-weight: 700;
    color: #9F6758;
    text-align: center;
    font-size: 2.4em;
    opacity: 41%;
    line-height: 1em;
    padding-top: 10px;
}

.ximi-big-font {
    font-size: 1.3em;
}

/* ------ slut Between canvases-------- */

.canvas-standard {
    background-color: white;
    width: 94vw;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ------- Top flower ------ */
.section-flower {
    width: 12%;
    margin: 0 auto;
    padding: 20px;
}

.section-flower img {
    width: 100%;
}

/* ------- slut Top flower ------ */

/* -------- 3 spalter --------- */
.section-container-standard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 14vh;
}

.section-container-left-standard {
    width: 32vw;
    padding-left: 5vw;
}

.section-container-middle-standard {
    display: flex;
    justify-content: center;
}

.section-container-right-standard {
    width: 32vw;
    padding-right: 5vw;
}

.section-container-standard img {
    width: 100%;
}

/* -------- slut 3 spalter --------- */

.heading {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 3em;
    color: #DFA596;
    letter-spacing: 0.4em;
}

#heading-3 {
    
}

.h3-standard {
    font-weight: 400;
    font-size: 1.8em;
    padding-bottom: 10px;
}

.text-content-standard {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 2em;
    padding-bottom: 30px;
}

#specifik-p {
    padding-bottom: 20px;
}

#white-dot {
    color: white;
}

#ansatte-container 

/* --------- image elements------------ */

#happy-img {
    padding-top: 60px;

}

#makeup-img {
    padding-bottom: 40px;
}


#heading-1 {
    padding-top: 150px;
}

#heading-2 {
    padding-top: 300px;
}

/* --------- slut image elements------------ */

/* -----------------Slut Standard assets--------------------- */



/* -----video section------ */

#video-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#weed-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


.sound-button {
    background-color: white;
    height: 30px;
    width: 40px;
    border-radius: 3px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.sound-button img {
    height: 100%;
}

.muted-video {
    
}

/* -----Slut video section------ */

/* ----------Instafeed----------- */

#follow-heading {
    color: #DFA596;
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}

#instafeed {
    padding-top: 50px;
}

#instaflex {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#foelg {
    padding-bottom: 30px;
}

#foelg-insta {
    height: 60px;
}

/* ----------slut Instafeed----------- */

/* ------------- About page --------------*/

#devider {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ansatte-container {
    width: 50vw;
}

#ansatte {
    width: 100%;
}

#text-box {
    width: 74vw;
    margin: 0 auto;
    padding-top: 30px;
}

#kort-img {
    width: 100%;
    padding-bottom: 36px;
    padding-top: 36px;
}

/* ------------- slut About page --------------*/

/* --------Slut Main-------- */


footer {
    padding-bottom: 1px;
}

.footer-container {
    justify-content: space-around;
    background-color: #C58B7D;
    display: flex;
    align-items: center;
    margin: 20px;
}

.footer-container h5 {
    text-align: center;
    font-family: 'Roboto';
    color: white;
    margin: 20px;
    padding-right: 20px;
    font-size: 1.4em;
    font-weight: 500;
}

.footer-container h6 {
    text-align: center;
    font-family: 'Roboto';
    color: white;
    margin: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    font-weight: 500;
}

.footer-line {
    width: 2px;
    height: 70px;
    background-color: white;
}
